@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rethink Sans";
  src: url("/fonts/rethink-sans/RethinkSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Rethink Sans";
  src: url("/fonts/rethink-sans/RethinkSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rethink Sans";
  src: url("/fonts/rethink-sans/RethinkSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Rethink Sans";
  src: url("/fonts/rethink-sans/RethinkSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

body {
  font-family: "Rethink Sans", sans-serif !important;
}

.o-red {
  outline: 1px solid tomato;
}

/* Add more styles for other weights and italics */
