@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rethink Sans";
  src: url("/fonts/rethink-sans/RethinkSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Rethink Sans";
  src: url("/fonts/rethink-sans/RethinkSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rethink Sans";
  src: url("/fonts/rethink-sans/RethinkSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Rethink Sans";
  src: url("/fonts/rethink-sans/RethinkSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body {
  font-family: "Rethink Sans", sans-serif !important;
}

.o-red {
  outline: 1px solid tomato;
}

/* Custom Styling */
.waitlist-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  padding-right: 1.5em; /* Add padding to make space for the arrow */
}

.waitlist-select {
  position: relative;
  display: inline-block;
  width: 100%;
}

.waitlist-select::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 0.75em; /* Position the arrow inside the select */
  width: 1.5em;
  height: 1.5em;
  background: url("../../public/icons/chevron-down.svg") no-repeat center center;
  background-size: contain;
  pointer-events: none; /* Prevent the arrow from blocking clicks */
}

.waitlist-select select {
  width: 100%; /* Ensure the select takes the full width of the container */

  background-color: #fff;
  padding: 0.5em;
  font-size: 1em;
  line-height: 1.5;
}

/* Add more styles for other weights and italics */
